 header{
      text-align: center;
     background-color: rgb(189, 84, 189);
     line-height: 20%;
     padding: 1%;

  }
  
  #pd{
   
    background-color: rgb(240, 205, 116);
    color:rgb(27, 27, 85);
    width: 40%;
    height: 10%;
   border-radius: 20%;
   font-size: 120%;
   border: 4px solid black;
   box-shadow: inset 0 0 10px;
}
  #pd:active{

    background-color: rgb(199, 182, 139);
    color:green;

  }



  body{
     text-align: center;
     background-color: plum;
  }

   h1{ text-align: center ;
        font-size: 48px;
        
        color: rgb(63, 5, 117);

    }
    
   #bancos{
       
       margin:20px 80px;
      background-color: purple;
     box-shadow: 2px 2px whitesmoke;
     border-radius:30px
    
   }	

  @keyframes movedan{
    from {border:1px solid;}
    
       to {border :10px solid;}

  }



   #bancos .cambio{
       text-align: center;
      
     margin:10px 30px 10px 100px;
     border-radius: 20px;
     background-color: orange;
     box-shadow: 2px 2px whitesmoke;
    
    width: 40%;
     transition: transform 5s, width 3s;

 animation-name: movedan;
     animation-duration:s;
   }
  .cambio:hover{
      background-color:yellow;
       color: green;
       transform: translate(5px);
     transform: scale();
     width: 45%;
   }
  .cambio:active{
       color:red;
       background-color: pink;
       width: 50%;
   }

a:hover{
      text-decoration: underline;
       color: blueviolet;
   }
   a:active{
       color:red;
       background-color: pink;
   }
          
          
           #p2{
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: palevioletred;
    color:powderblue;
    width: 40%;
    height: 10%;
   border-radius: 20%;
   font-size: 120%;
   border: ;
   box-shadow: inset 0 0 10px;



}



@keyframes  restmover{
      0% {color:red;}
      50% {color:powderblue;}
      100% { color: green;}

}
#anima{
    font-size: 30px;
animation-name: restmover;
animation-duration: 6s;
}



.mensajeoculto{
    display: none;
    bottom: 20%;right: 20%;
   position: fixed;
  width: 50vw; height: 50vh;
  background: greenyellow;
  
    border: 3px solid black;
    align-items: center;
   justify-content: center;
    border-radius: 30px;
 font-size: large;


}
.contento1{
    background: white;
    text-align: center;
    border-radius: 10px;
     padding: 5px;
}
.contento2{
    background: aqua;
    text-align: center;
    border-radius: 10px;
     padding: 5px;
}
.contento3{
    background: aqua;
    text-align: center;
    border-radius: 10px;
     padding: 5px;
}


#emer{
  
     padding: 15px;
}

 #okey2{
     display: inline-block;
     background-color: antiquewhite;
     
     
 }



